@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
	background: #fff url('ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/slick.eot');
	src: url('fonts/slick-.eot') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
	opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
	font-family: 'themify';
	font-size: 18px;
	line-height: 1;

	opacity: .75;
	color: #ffffff;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	left: -23px;
}
[dir='rtl'] .slick-prev
{
	right: -23px;
	left: auto;
}
.slick-prev:before
{
	content:"\e64a";
}
[dir='rtl'] .slick-prev:before
{
	content:"\e649";
}
.slick-next
{
	right: -23px;
}
[dir='rtl'] .slick-next
{
	right: auto;
	left: -23px;
}
.slick-next:before
{
	content:"\e649";
}
[dir='rtl'] .slick-next:before
{
	content:"\e64a";
}

/* Dots */
.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
	position: absolute;
	bottom: 30px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	height: 10px;
	padding: 4px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
    color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	font-family: 'slick';
	font-size: 11px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	content: '•';
	text-align: center;
	opacity: .8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button
{
	opacity: 1;
	color: #fff;
    border: 1px solid #fff;
}


@media (max-width: 768px) {
    
    .slick-dots li button {
        border: 1px solid #ccc;
    }
    
    .slick-dots li.slick-active button
{
	opacity: 1;
	color: #dd888d;
    border: 1px solid #dd888d;
}
}
