/* -------------------
    INTRO CSS 
---------------------- */
/* Google Fonts */
@import url('../../../../css-3.css');
@import 'bootstrap.min.css';

/* General Style */
html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #fff;
}
body {
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #fff;
    height: 100%;
    background: #e52e71;
}
p {
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #fff;
}
h3,
.h3 {
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 40px 20px;
}
h3 a,
.h3 a {
    color: inherit
}
.h3 a:hover {
    text-decoration: none
}
a {
    color: #1b1b1b;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out
}
a:hover,
a:focus {
    color: #e52e71;
    outline: none
}
a:focus {
    text-decoration: none
}

/* Selection */
::selection {
    background-color: #1b1b1b;
    color: #fff
}
-webkit-::selection {
    background-color: #1b1b1b;
    color: #fff
}
::-moz-selection {
    background-color: #1b1b1b;
    color: #fff
}

/* Logo */
.div-logo p {
        display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: italic;
    text-transform: none;
    color: #fff;
    font-weight: 600;
    line-height: 1.75em;
}
.logo {
    width: 50px;
    max-width: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.brand {
        font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #e52e71;
    margin: 0 0 10px 0;
}

/* Background Image */
.layout {
    background: transparent url("../img/banner.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Main */
.main {
    padding: 60px 0;
    text-align: center
}

/* Margin & Padding */
.mt-60 {
    margin-top: 60px;
}
.mb-60 {
    margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* Demo Hover */
.demo-hover figure {
    position: relative;
}
.demo-hover figure img {
    display: block
}
.demo-hover figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: Rgba(255, 138, 0, 0.7);
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.demo-hover figcaption .inner {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.demo-hover figure:hover figcaption {
    opacity: 1
}

/* Button */
.btn {
    font-family: "Mukta", sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5em;
    background: #e52e71;
    color: #fff;
    border: 1px solid #e52e71;
    border-radius: 30px;
    text-decoration: none;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important
}
.btn:hover,
.btn:focus {
    background: #ff8a00;
    border: 1px solid #ff8a00;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none!important
}

/* Pricing */
.pricing-info,
.pulse {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    background: #e52e71;
    color: #fff;
    font-weight: 400;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    text-align: center;
    z-index: 99;
    border-radius: 90%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s
}

.pulse span{
    font-family: 'Mukta', sans-serif;
}

.pricing-info:hover,
.pricing-info:focus,
.pricing-info:active,
.pulse:hover,
.pulse:focus,
.pulse:active {
    text-decoration: none;
    color: #fff;
}
.pricing-info a,
.pulse a {
    color: #fff;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 0
    }
    50% {
        opacity: .3
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 0
    }
    50% {
        opacity: .3
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
.pulse:nth-child(1) {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite
}
.pulse:nth-child(2) {
    -webkit-animation: pulse 2s infinite .3s;
    animation: pulse 2s infinite .3s
}
.pulse:nth-child(3) {
    -webkit-animation: pulse 2s infinite .6s;
    animation: pulse 2s infinite .6s
}


/* Animate Box */
.js .animate-box {
    opacity: 0;
}


/* New */

.new-popular {
    background-color: #ff0000;
    border-radius: 80px;
    height: 55px;
    width: 55px;
    display: block;
    position: absolute;
    top: 10px;
    right: 24px;
    text-transform: uppercase;
    z-index: 999;
}

.new-popular p {
    padding-top: 14px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0px;
}