@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rambla/v8/snfrs0ip98hx6mrEJLgK.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/rambla/v8/snfos0ip98hx6mrMn50aOfl8.ttf) format('truetype');
}
