/* ----------------------------------------------------------------

01. Fonts settings
02. Default style
03. Scrollbar style
04. Selection style
05. Sidebar & Menu style
06. Content style
07. Section style
08. Heading style
09. Navigation style
10. Team style
11. Services style
12. Pricing style
13. Gallery style
14. Blog & Post style
15. Contact style
16. Footer style
17. Progress-wrap style

------------------------------------------------------------------- */


/* ======= Fonts settings (Google Fonts: Josefin Sans) ======= */
@import url('../../../../../css-12.css');

/* ======= Default styles ======= */
html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999;
    background-color: #202220;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #202220;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 0 20px;
    color: #999;
    font-weight: 400;
}
/* lists */
ul {
    list-style-type: none;
}
/* links */
a {
    color: #202220;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover,
a:active,
a:focus {
    color: #202220;
    outline: none;
    text-decoration: none !important;
}
a:link {
    text-decoration: none;
}
a:focus {
    outline: none;
}
img {
    width: 100%;
    height: auto;
}
.mt-20 {
    margin-top: 20px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-30 {
    margin-bottom: 30px;
}
.small,
small {
    font-size: 80%;
}
b,
strong {
    color: #fff;
}
.bg-black {
    background-color: #1b1b1b;
}
/* form element */
/* text field */
button,
input,
optgroup,
select,
textarea {
    font-family: 'Josefin Sans', sans-serif;
}
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
    outline: none;
}
input[type="password"],
input[type="email"],
input[type="text"],
input[type="file"],
textarea {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    height: auto;
    background-color: #1b1b1b;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400; 
    color: #fff;
    background-image: none;
    border: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    text-shadow: none;
    padding: 10px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border: none;
    color: #999;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #1b1b1b;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 30px;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: #000;
    color: #fff;
}
#message {
    height: 130px;
    color: #999;
    background: #1b1b1b;
}
input[type="password"].form-control, 
input[type="email"].form-control, 
input[type="text"].form-control, 
input[type="file"].form-control, 
textarea.form-control
 {
    background: #1b1b1b;
     color: #999;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
}
select {
    padding: 10px;
    border-radius: 5px;
}
table,
th,
tr,
td {
    border: 1px solid #202220;
}
th,
tr,
td {
    padding: 10px;
}
.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}
.js .animate-box {
    opacity: 0;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}


/* ======= Scrollbar style ======= */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #202220;
}
::-webkit-scrollbar-thumb:hover {
    background: #202220;
}


/* ======= Selection style ======= */
::-webkit-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}
::selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}


/* ======= Sidebar & Menu style ======= */
.annie-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.annie-aside {
    padding: 30px;
    width: 23%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 1001;
    background: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sidebar.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.annie-aside::before {
    background: rgba(0, 0, 0, 0.9);
    z-index: 1002;
}
@media screen and (max-width: 1200px) {
    .annie-aside {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .annie-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        padding-top: 4em;
    }
}
.annie-aside .annie-logo {
    position: relative;
    text-align: center;
    margin-bottom: 90px;
    padding: 0;
    display: block;
    width: 100%;
}
.annie-aside .annie-logo h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
}
.annie-aside .annie-logo span {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1em;
}
@media screen and (max-width: 768px) {
    .annie-aside .annie-logo {
        margin-bottom: 60px;
    }
    .annie-aside .annie-logo h1 {
        font-size: 24px;
    }
    .annie-aside .annie-logo span {
        font-size: 12px;
    }
}
.annie-aside .annie-logo a {
    display: inline-block;
    text-align: center;
    color: #fff;
}
.annie-aside .annie-logo a span {
    display: block;
    margin-top: 0px;
    text-align: center;
}
/* Menu */
.annie-aside .annie-main-menu,
.annie-aside .annie-main-menu ul,
.annie-aside .annie-main-menu ul li,
.annie-aside .annie-main-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.annie-aside .annie-main-menu {
    text-align: left;
    margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
    .annie-aside .annie-main-menu {
        margin-bottom: 30px;
    }
}
.annie-aside .annie-main-menu ul ul {
    display: none;
}
.annie-aside .annie-main-menu > ul > li > a {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.navbar-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.annie-aside .annie-main-menu > ul > li > a:hover,
.annie-aside .annie-main-menu > ul > li.active > a,
.annie-aside .annie-main-menu > ul > li.open > a {
    color: #fff;
}
.annie-aside .annie-main-menu > ul > li.open > a {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    border-bottom: 1px solid transparent;
}
.annie-aside .annie-main-menu > ul > li:last-child > a,
.annie-aside .annie-main-menu > ul > li.last > a {}
.annie-aside .annie-main-menu > ul > li > a:hover > span::after,
.annie-aside .annie-main-menu > ul > li.active > a > span::after,
.annie-aside .annie-main-menu > ul > li.open > a > span::after {
    border-color: #fff;
}
.annie-aside .annie-main-menu ul ul li a {
    padding: 5px 0 5px 30px;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.annie-aside .annie-main-menu ul ul li:hover > a,
.annie-aside .annie-main-menu ul ul li.open > a,
.annie-aside .annie-main-menu ul ul li.active > a {
    color: #fff;
}
.annie-aside .annie-main-menu ul ul ul li a {
    margin-left: 30px;
    padding-top: 12px;
}
.annie-aside .annie-main-menu > ul > li > ul > li:last-child > a,
.annie-aside .annie-main-menu > ul > li > ul > li.last > a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 15px;
}
.annie-aside .annie-main-menu > ul > li > ul > li.open:last-child > a,
.annie-aside .annie-main-menu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #202220;
}
.annie-aside .annie-main-menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 1px solid #202220;
}
.annie-aside .annie-main-menu ul ul li.annie-sub > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    right: 8px;
    z-index: 10;
    top: 17px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.annie-aside .annie-main-menu ul ul li.active > a::after,
.annie-aside .annie-main-menu ul ul li.open > a::after,
.annie-aside .annie-main-menu ul ul li > a:hover::after {
    border-color: #fff;
}
/* footer */
.annie-aside .annie-footer {
    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    padding: 30px 0;
}
.annie-footer p {
    margin-bottom: 0;
    color: #fff;
    line-height: 1em;
}
.annie-footer a,
.annie-footer a i {
    color: #fff;
}
@media screen and (max-width: 768px) {
    .annie-aside .annie-footer {
        position: relative;
    }
}
.annie-aside .annie-footer span {
    display: block;
}
.annie-aside .annie-footer ul {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
}
.annie-aside .annie-footer ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    transition: all 0.3 ease-in-out;
}
.annie-aside .annie-footer ul li a {
    color: #fff;
    font-size: 20px;
}
.annie-aside .annie-footer ul li a:hover,
.annie-aside .annie-footer ul li a:active,
.annie-aside .annie-footer ul li a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}


/* ======= Content style ======= */
.annie-main {
    width: 77%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    .annie-main {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .annie-main {
        width: 100%;
    }
}
.annie-hero {
    background: #202220 url(../images/loader.gif) no-repeat center center;
    width: 100%;
    float: left;
    margin-bottom: 0;
    clear: both;
}
.annie-hero .btn {
    font-size: 24px;
}
.annie-hero .btn.btn-primary {
    padding: 15px 30px !important;
}


/* ======= Section style ======= */
.annie-blog,
.annie-post,
.annie-gallery,
.annie-teams,
.annie-pricing,
.annie-about,
.annie-service,
.annie-contact,
.annie-homepage-about,
.annie-homepage-gallery {
    padding-top: 100px;
    padding-bottom: 0px;
    clear: both;
    width: 100%;
    display: block;
}
.annie-gallery p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    padding: 20px;
    transition: all 0.1s linear;
    color: #fff;
}
.annie-gallery p span {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.annie-gallery p span:hover {
    color: #999;
}
.annie-gallery h6 {
    color: #999;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .annie-blog,
    .annie-post,
    .annie-gallery,
    .annie-teams,
    .annie-pricing,
    .annie-about,
    .annie-service,
    .annie-contact,
    .annie-homepage-about,
    .annie-homepage-gallery {
        padding-top: 100px;
        padding-bottom: 0px;
    }
}
/* for menu important */
body.offcanvas {
    overflow-x: hidden;
}
body.offcanvas .annie-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    z-index: 999;
    position: fixed;
}
body.offcanvas .annie-main,
body.offcanvas .annie-nav-toggle {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}


/* ======= Heading style ======= */
.annie-heading {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.annie-heading span {
    display: block;
}
.annie-about-heading {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.annie-contact-heading {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.annie-contact p a {
    color: #999;
}
.annie-about-me {
    font-size: 20px;
    margin-bottom: 20px;
}
.annie-about-signature {
    width: 240px;
    height: auto;
}
.annie-post-heading {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.annie-post-heading span {
    display: block;
}
.heading-meta {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
    .annie-post-heading {
        margin-bottom: 15px;
    }
}


/* ======= Navigation style ======= */
.annie-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}
.annie-nav-toggle.active i::before,
.annie-nav-toggle.active i::after {
    background: #fff;
}
.annie-nav-toggle.dark.active i::before,
.annie-nav-toggle.dark.active i::after {
    background: #202220;
}
.annie-nav-toggle:hover,
.annie-nav-toggle:focus,
.annie-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.annie-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 1px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: -2px;
}
.annie-nav-toggle i::before,
.annie-nav-toggle i::after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.annie-nav-toggle.dark i {
    position: relative;
    color: #202220;
    background: #202220;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.annie-nav-toggle.dark i::before,
.annie-nav-toggle.dark i::after {
    background: #202220;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.annie-nav-toggle i::before {
    top: -7px;
}
.annie-nav-toggle i::after {
    bottom: -7px;
}
.annie-nav-toggle:hover i::before {
    top: -10px;
}
.annie-nav-toggle:hover i::after {
    bottom: -10px;
}
.annie-nav-toggle.active i {
    background: transparent;
}
.annie-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.annie-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.annie-nav-toggle {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 12px 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #101010;
    border: 2px solid #222;
    margin: 15px 30px;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .annie-nav-toggle {
        opacity: 1;
        visibility: visible;
    }
}


/* ======= Team style ======= */
.annie-team {
    position: relative;
    margin-bottom: 30px;
}
.annie-team .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.annie-team .desc .con {
    padding: 30px;
    display: block;
    position: relative;
}
.annie-team .desc .con .icon {
    position: absolute;
}
.annie-team .desc .con .icon span {
    display: inline;
    padding-right: 10px;
}
.annie-team .desc .con .icon i {
    font-size: 18px;
    color: #fff;
}
.annie-team .desc h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    margin-bottom: 0px;
}
.annie-team .desc h3 a {
    color: #fff;
}
.annie-team .desc span {
    display: block;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    margin-bottom: 15px;
}
.annie-team .desc span a {
    color: #202220;
}
.annie-team:hover .desc {
    opacity: 1;
}
.annie-team:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.annie-team:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.annie-team-desc h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.annie-team-desc span {
    display: block;
    color: #666;
    font-size: 13px;
    margin-bottom: 15px;
}
.annie-team-desc span a {
    color: #666;
}
.annie-team-desc .icon span {
    display: inline;
    padding-right: 5px;
}
@media screen and (max-width:768px) {
    .annie-team .desc {
        opacity: 1;
        background: rgba(0, 0, 0, 0.4);
    }
    .annie-team .desc h3 {
        font-size: 24px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        color: #202220;
        font-weight: 700;
    }
    .annie-team .desc span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        color: #fff;
    }
}


/* ======= Services style ======= */
.annie-services {
    position: relative;
    margin-bottom: 30px;
}
.annie-services .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    /*    background: rgba(0, 0, 0, 0.7);*/
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: auto;
    padding: 20px;
    transition: all 0.1s linear;
}
.annie-services .desc .con {
    padding: 0px;
    display: block;
    position: relative;
}
.annie-services .desc h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
.annie-services .desc h3 a {
    color: #fff;
}
.annie-services .desc span {
    display: block;
    color: #ccc;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 15px;
}
.annie-services .desc span a {
    color: #202220;
}
.annie-services .annie-icon {
    background: transparent;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
}
.annie-services:hover .desc {
    opacity: 1;
}
.annie-services:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.annie-services:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.annie-services-desc h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.annie-services-desc span {
    display: block;
    color: #666;
    font-size: 13px;
    margin-bottom: 15px;
}
.annie-services-desc span a {
    color: #666;
}
@media screen and (max-width:768px) {
    .annie-services .desc {
        opacity: 1;
    }
    .annie-services .desc h3 {
        font-style: 28px;
        font-weight: 700;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        color: #fff
    }
    .annie-services .desc span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}


/* ======= Pricing style ======= */
.price-box {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.price-box .price-box-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 90px 30px;
}
.price-box .price-box-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.price-box .price-box-inner ul li {
    margin: 0;
    padding: 0;
    text-align: center
}
.price-box .price-box-inner ul li.pricing-title {
    position: relative;
    font-size: 17px;
    line-height: 1.75em;
    font-weight: 700;
}
.price-box .price-box-inner ul li.pricing-title .pricing-pt-title {
    color: #fff;
    display: block;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
}
.price-box .price-box-inner ul li.pricing-prices {
        position: relative;
    padding: 0 0 30px 0;
}
.price-box .price-box-inner ul li.pricing-prices .pricing-dolar {
    position: relative;
    bottom: 2px;
    color: #fff; 
    font-size: 17px;
    line-height: 1em;
    font-weight: 400;
}
.price-box .price-box-inner ul li.pricing-prices .pricing-price {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: -5px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.price-box .price-box-inner ul li.pricing-content {
    padding: 0;
    line-height: 2em;
    font-size: 15px;
    font-weight: 400;
    color: #999;
}


/* ======= Gallery style ======= */
.annie-photos .annie-photo-item {
    position: relative;
    margin-bottom: 30px;
}
.annie-photos .annie-photo-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
}
.annie-photos .annie-photo-item .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.annie-photos .annie-photo-item .photo-text-more .fa .fa-search-plus {
    color: #fff;
    font-size: 20px;
}
.annie-photos .annie-photo-item .photo-text-more .heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}
.annie-photos .annie-photo-item .photo-text-more .meta {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 12px;
}
.annie-photos .annie-photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 575.98px) {
    .annie-photos .annie-photo-item img {
    }
}
.annie-photos .annie-photo-item:hover:after {
    opacity: 1;
    visibility: visible;
}
.annie-photos .annie-photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
/* add more style  */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.annie-more-trigger {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid #6c6d6d;
    margin: 0 auto;
    position: relative;
}
.annie-more-trigger:hover {
    background-color: #101010;
    border: 2px solid #101010;
}
.annie-more-trigger:hover .plus,
.annie-more-trigger:hover .plus:after {
    background: #fff;
}
.plus {
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 23px;
    margin: 0 auto;
}
.plus:after {
    content: ' ';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -sand-transform: rotate(90deg);
}
.annie-more-wrapper.hidden {
    display: none;
}
.annie-more-wrapper {
    margin: 30px auto;
}
/* show more animation style */
.annie-show-more-container {
    visibility: hidden;
    display: none;
    max-height: 0px;
    opacity: 0;
    transition-duration: .5s;
    transition-timing-function: linear;
    height: 100%;
}
.annie-show-more-container.visible {
    visibility: visible;
    display: block;
    animation: LHC .3s;
    animation-fill-mode: both;
    min-height: 100%;
}
@keyframes LHC {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-top: -60px;
        max-height: 100%;
    }
}
.annie-show-more-container.animated {
    animation: HCC .5s;
    animation-fill-mode: both;
}
@keyframes HCC {
    from {
        max-height: 2050px;
        opacity: 1;
    }
    to {
        opacity: 0;
        max-height: 0px;
    }
}


/* ======= Blog & Post style ======= */
.blog-entry {
    width: 100%;
    float: left;
    background: #1b1b1b;
    margin-bottom: 60px;
}
.blog-entry .desc {
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .blog-entry {
        margin-bottom: 45px;
    }
}
.blog-entry .blog-img {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.blog-entry .blog-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.blog-entry .desc h3 {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.5em;
    font-weight: 400;
}
.blog-entry .desc h3 a {
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.blog-entry .desc span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #999 !important;
}
.blog-entry .desc span small i {
    color: #999;
}
.blog-entry .desc .lead {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
.blog-entry .desc .lead:hover {
    color: #fff;
}
.blog-entry:hover .blog-img img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/* pagination */
.annie-pagination-wrap {
    padding: 0;
    margin: 0;
    text-align: center;
}
.annie-pagination-wrap li {
    display: inline-block;
    margin: 0 5px;
}
.annie-pagination-wrap li a {
    background: #1b1b1b;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    color: #999;
    font-weight: 400;
    border-radius: 50%;
}
.annie-pagination-wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    background: #101010;
    ;
}
.annie-pagination-wrap li a.active {
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .annie-pagination-wrap {
        padding: 0 0 60px 0;
        margin: 0;
        text-align: center;
    }
}
/* post comment */
.comments-area {
    padding: 30px 0;
}
.comments-area .comments-title {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
    font-weight: 700;
    color: #fff;
}
ol.comment-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
ol.comment-list li.comment {
    position: relative;
    padding: 0;
}
ol.comment-list li.comment .comment-body {
    position: relative;
    padding: 20px 30px 20px 90px;
    margin-left: 40px;
    color: #202220;
    position: relative;
}
ol.comment-list li.comment .comment-author {
    display: block;
    margin-bottom: 0px;
}
ol.comment-list li.comment .comment-author .avatar {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #1b1b1b;
}
ol.comment-list li.comment .comment-author .name {
    display: inline-block;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
}
ol.comment-list li.comment .comment-author .says {
    display: none;
    color: #999;
    font-weight: 700;
}
ol.comment-list li.comment .comment-meta {
    color: #999;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400
}
ol.comment-list li.comment .comment-meta a {
    color: #999;
}
ol.comment-list li.comment .comment-meta:before,
ol.comment-list li.comment .reply a:before {
    font-family: "FontAwesome";
    font-size: 16px;
    vertical-align: top;
}
ol.comment-list li.comment p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 0 20px;
    color: #999;
}
ol.comment-list li.comment .reply a {
    position: absolute;
    top: 50px;
    right: 30px;
    margin-top: -5px;
    font-size: 13px;
    color: #999;
}
ol.comment-list li .children {
    list-style: none;
    margin-left: 80px;
}
ol.comment-list li .children li {
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .comments-area .padding-30 {
        padding: 15px;
    }
    ol.comment-list li.comment .comment-body {
        margin-bottom: 30px;
        margin-left: 30px;
    }
    ol.comment-list li.comment .comment-author .avatar {
        left: -35px;
        height: 70px;
        width: 70px;
    }
    ol.comment-list li .children {
        margin-left: 20px;
    }
    ol.comment-list li.comment .reply a {
        position: static;
    }
}
@media only screen and (max-width: 480px) {
    ol.comment-list li.comment .comment-body {
        margin-left: 26px;
    }
    ol.comment-list li.comment .comment-author .avatar {
        left: -15px;
        top: 12px;
        width: 60px;
        height: 60px;
    }
    ol.comment-list li.comment .comment-body {
        padding-left: 55px;
    }
}
/* avatar feedback */
.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.avatar-container>i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #1b1b1b;
    color: #fff;
    font-size: 100px;
}
.avatar-container>i::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0
}
.avatar-container>.placeholder {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    text-align: center
}
.avatar-container>.button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4)
}
.avatar-container>.button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: 900
}
.avatar-container>.button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff
}
.avatar-container>.button>input[type="file"] {
    display: none
}


/* ======= Contact style ======= */
.annie-map-section {
    overflow: hidden;
    margin-bottom: 60px;
}
#annie-contactMap {
    width: 100%;
    height: 550px;
}
.annie-more-contact {
    background: #fafafa;
}
/* form */
.form-control {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    height: auto;
    background-color: #1b1b1b;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400; 
    color: #fff;
    background-image: none;
    border: none;
}
.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.btn-contact {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.75;
    font-weight: 400;
    border-style: solid;
    color: #fff;
    letter-spacing: 1px;
    border-width: 0;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #101010;
    margin-top: 10px;
    border-radius: 0;
}


/* ======= Footer style ======= */
#annie-footer {
    padding: 60px;
    background: #202220;
}
#annie-footer a {
    color: #fff;
}
#annie-footer h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
    color: #fff;
}
#annie-footer h1 span {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.3em;
    display: block;
    margin-top: 0px;
    text-align: center;
}
#annie-footer .footer-logo {
    margin-bottom: 30px;
}
#annie-footer .footer-logo .img {
    width: 270px;
}
@media screen and (max-width: 768px) {
    #annie-footer {
        padding: 100px 30px 80px 30px;
        text-align: center;
    }
}
#annie-footer .annie-lead {
    font-size: 12px;
    line-height: 1.5em;
    color: #999;
    margin-bottom: 0;
}
/* social */
ul.social-network {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
}
ul.social-network li {
    display: inline-block;
    margin-right: 5px;
    background-color: #222;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    transition: all 0.3 ease-in-out;
}
.social-network li i {
    color: #fff;
}
@media screen and (max-width: 768px) {
    ul.social-network {
        display: inherit;
        text-align: center;
        float: none;
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .annie-services .desc span {
        display: none;
    }
}

/* ======= Progress-wrap style ======= */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
  box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  content: '\f077';
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: #6c6d6d;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }
.progress-wrap svg path {
  fill: none; 
}
.progress-wrap svg.progress-circle path {
  stroke: #6c6d6d;
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }
.progress-wrap {
  -webkit-box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
  box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2); }
.progress-wrap::after {
  color: #6c6d6d; 
}
.progress-wrap svg.progress-circle path {
  stroke: #6c6d6d; 
}
