/* -----------------------------------------------------------------------------------

 01. Google Fonts
 02. Basics style
 03. Preloader style
 04. Selection style
 05. Scrollbar style
 06. Owl-Theme settings
 07. Sections style
 08. Sidebar style
 09. Content style
 10. Navigation style
 11. Header style
 12. Slider style
 13. Page Banner Header
 14. About style 
 15. Team style
 16. Menu List Style
 17. Today Menu Style
 18. Testimonials
 19. Gallery style
 20. Promo video and Opening Hours style
 21. News Home style
 22. Blog style
 23. Post style
 24. Contact style
 25. Button style
 26. Progress scroll totop button
 27. Footer style
 28. Cursor Style
 29. Responsive (Media Query)
 
----------------------------------------------------------------------------------- */


/* ======= Google fonts ======= */
@import url('../../../../../css2-16.css');


/* ======= Basics ======= */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body {
    overflow-x: hidden !important;
    background: #1b1b1b;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    outline: none;
}
p {
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    line-height: 1.75em;
    margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Pirata One', cursive;
    line-height: 1.5em;
}
img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #000;
}
span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
b {
    font-weight: 400;
    color: #991b1f;
}
/* text field */
button,
input,
optgroup,
select,
textarea {
    font-family: 'Mukta', sans-serif;
}
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
    outline: none;
    background-color: #1b1b1b;
     border: 1px solid #991b1f;
}
input[type="password"],
input[type="email"],
input[type="text"],
input[type="file"],
textarea {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: auto;
    background-color: #1b1b1b;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #303030;
    display: block;
    width: 100%;
    line-height: 1.75em;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    background-image: none;
    border-radius: 0;
    outline: none;
}
input:focus,
textarea:focus {
    border-bottom-width: 1px;
    border-color: #991b1f;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    text-shadow: none;
    padding: 8px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.75em;
    font-weight: 400;
    border-style: solid;
    color: #fff;
    border-width: 0;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #101010;
    margin: 3px 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: #101010;
    color: #fff;
}
select {
    padding: 10px;
    border-radius: 5px;
}
table,
th,
tr,
td {
    border: 1px solid #ececec;
}
th,
tr,
td {
    padding: 10px;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
}
.bg-gray {
    background: #f8fafd;
}
.o-hidden {
    overflow: hidden;
}
.position-re {
    position: relative;
}
.full-width {
    width: 100%;
}
.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-img-fixed {
    background-attachment: fixed;
}
.bg-fixed {
    background-attachment: fixed;
}
.pattern {
    background-repeat: repeat;
    background-size: auto;
}
.sub-title {
    font-size: 15px;
    font-weight: 400;
    color: #101010;
    margin-bottom: 10px;
}
.bold {
    font-weight: 700;
}
.count {
    font-family: 'Mukta', sans-serif;
}
.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.line-hr-left {
    width: 70px;
    border-top: 1px solid #991b1f;
    margin: 0 0 20px 0;
}
.line-hr-right {
    width: 70px;
    border-top: 1px solid #991b1f;
    margin: 0 0 0 auto;
}
.line-hr-center {
    width: 70px;
    border-top: 1px solid #991b1f;
    margin: auto;
}
.bg-darkcolor {
    background: #101010;
}
/* important for animate effect */
.js .animate-box {
    opacity: 0;
}

.container {
    padding-right: 60px;
    padding-left: 60px;
}


/* ======= Preloader ======= */
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99999999999999;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
.pace .pace-progress {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 300px;
    position: fixed;
    z-index: 99999999999999;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #991b1f; }
.pace.pace-inactive {
  width: 100vw;
  opacity: 0; }
.pace.pace-inactive .pace-progress {
    max-width: 100vw; 
}
#preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999999; }
#preloader:after, #preloader:before {
    content: '';
    position: fixed;
    left: 0;
    height: 50%;
    width: 100%;
    background: #101010;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
#preloader:before {
    top: 0; 
}
#preloader:after {
    bottom: 0; 
}
#preloader.isdone {
    visibility: hidden;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s; }
#preloader.isdone:after, #preloader.isdone:before {
      height: 0;
      -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
      -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
      transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s; }
.loading-text {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: 'Pirata One', cursive;
  z-index: 9999; }
.loading-text.isdone {
    top: 50%;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }


/* ======= Selection ======= */
::-webkit-selection {
    color: rgba(255,255,255,0.8);
    background: rgba(153, 27, 31, 0.5);
}
::-moz-selection {
    color: rgba(255,255,255,0.8);
    background: rgba(153, 27, 31, 0.5);
}
::selection {
    color: rgba(255,255,255,0.8);
    background: rgba(153, 27, 31, 0.5);
}


/* ======= Scrollbar ======= */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #101010;
}

::-webkit-scrollbar-thumb:hover {
    background: #101010;
}


/* ======= Owl-Theme settings ======= */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #991b1f;
}
.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: #fff;
}


/* ======= Sections ======= */
.section-padding {
    padding: 90px 0;
}
.section-padding h6 {
    color: #fff;
    font-size: 27px;
    margin-bottom: 20px;
}
.section-padding h6 span {
    color: #991b1f;
}
.section-subtitle {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Mukta', sans-serif;
    position: relative;
    padding-left: 65px;
}
.section-subtitle:before {
    content: "";
    width: 50px;
    height: 1px;
    background: #991b1f;
    position: absolute;
    left: 0;
    top: 50%;
}
.section-title {
    font-size: 60px;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    color: #991b1f;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.2em;
}
h2 span {
    color: #fff;
}
.line-hr {
    width: 70px;
    border-top: 1px solid #fff;
    margin-top: 0px;
    margin-bottom: 30px;
}


/* ======= Sidebar styles ======= */
#winta-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#winta-aside {
    padding: 60px 30px 30px 30px;
    width: 20.9%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1001;
    background: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border: none;
    scrollbar-width: none;
}
@media screen and (max-width: 1200px) {
    #winta-aside {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    #winta-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        padding: 60px 30px 0 30px;
    }
}
/* logo */
#winta-aside .winta-logo {
    text-align: center;
    margin-bottom: 60px;
    display: block;
}
#winta-aside .winta-logo h2 {
    position: relative;
    font-weight: 400;
    font-size: 55px;
    letter-spacing: 4px;
    color: #fff;
    line-height: 0.7em;
}
#winta-aside .winta-logo span {
    font-family: 'Mukta', sans-serif;
    display: block;
    margin-top: 7px;
    font-size: 8px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    background: #991b1f;
    padding: 3px;
    text-align: center;
}
#winta-aside .winta-logo .logo-img {
    width: 75px;
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    #winta-aside .winta-logo {
        margin-bottom: 60px;
    }
}
#winta-aside .winta-logo a {
    display: inline-block;
    text-align: center;
    color: #991b1f;
}
#winta-aside .winta-logo a span {
    display: block;
    margin-top: 7px;
}
/* Menu */
#winta-aside .winta-main-menu,
#winta-aside .winta-main-menu ul,
#winta-aside .winta-main-menu ul li,
#winta-aside .winta-main-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#winta-aside .winta-main-menu {
    margin-bottom: 60px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    #winta-aside .winta-main-menu {
        margin-bottom: 30px;
    }
}
#winta-aside .winta-main-menu ul ul {
    display: none;
}
#winta-aside .winta-main-menu ul ul li:last-of-type {
    padding-bottom: 11px;
}
#winta-aside .winta-main-menu > ul > li > a {
    font-family: 'Pirata One', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.25em;
    color: #fff;
    margin: 11px 0 0 0;
    padding: 0 0 11px 0;
    list-style: none;
}
#winta-aside .winta-main-menu > ul > li > a:hover,
#winta-aside .winta-main-menu > ul > li.active > a,
#winta-aside .winta-main-menu > ul > li.open > a {
    color: #991b1f;
}
#winta-aside .winta-main-menu > ul > li.open > a {
    color: #991b1f;
    margin: 11px 0 0 0;
    padding: 0 0 11px 0;
    list-style: none;
    border-bottom: none;
}
#winta-aside .winta-main-menu > ul > li:last-child > a,
#winta-aside .winta-main-menu > ul > li.last > a {
}
#winta-aside .winta-main-menu > ul > li > a:hover > span::after,
#winta-aside .winta-main-menu > ul > li.active > a > span::after,
#winta-aside .winta-main-menu > ul > li.open > a > span::after {
    border-color: #991b1f;
}
#winta-aside .winta-main-menu ul ul li a {
    padding: 8px 0;
    list-style: none;
    line-height: 1.25em;
}
#winta-aside .winta-main-menu ul ul li:hover > a,
#winta-aside .winta-main-menu ul ul li.open > a,
#winta-aside .winta-main-menu ul ul li.active > a {
    color: #991b1f;
}
#winta-aside .winta-main-menu ul ul ul li a {
    margin-left: 15px;
}
#winta-aside .winta-main-menu > ul > li > ul > li:last-child > a,
#winta-aside .winta-main-menu > ul > li > ul > li.last > a {
    padding-bottom: 8px;
}
#winta-aside .winta-main-menu > ul > li > ul > li.open:last-child > a,
#winta-aside .winta-main-menu > ul > li > ul > li.last.open > a {}
#winta-aside .winta-main-menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {}
#winta-aside .winta-main-menu ul ul li.active > a::after,
#winta-aside .winta-main-menu ul ul li.open > a::after,
#winta-aside .winta-main-menu ul ul li > a:hover::after {}

/* footer */
#winta-aside .winta-footer {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
/* sidebar footer */
#winta-aside .winta-footer p {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}
.separator {
    width: 16%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #991b1f;
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
#winta-aside .winta-footer {
        position: relative;
        padding-top: 60px;
    }
}
/* sidebar social */
#winta-aside .winta-footer .social a {
    color: rgba(255,255,255,0.8);
    width: 33px;
    height: 33px;
    line-height: 35px;
    background: transparent;
    margin: 0 5px 15px 0;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.075);
    font-size: 11px;
    border-radius: 50%;
}
#winta-aside .winta-footer .social a:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #991b1f;
}


/* important offcanvas for menu */
body.offcanvas {
    overflow-x: hidden;
}
body.offcanvas #winta-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    z-index: 999;
    position: fixed;
}
body.offcanvas #winta-main,
body.offcanvas .winta-nav-toggle {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}

/* ======= Content style ======= */
#winta-main {
    width: 79.2%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    #winta-main {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    #winta-main {
        width: 100%;
    }
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

/* ======= Navigation style ======= */
#winta-main-menu {
    margin-bottom: 90px;
}
.winta-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}
.winta-nav-toggle.active i::before,
.winta-nav-toggle.active i::after {
    background: #fff;
}
.winta-nav-toggle.dark.active i::before,
.winta-nav-toggle.dark.active i::after {
    background: #171717;
}
.winta-nav-toggle:hover,
.winta-nav-toggle:focus,
.winta-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.winta-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 1px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: -3px;
}
.winta-nav-toggle i::before,
.winta-nav-toggle i::after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.winta-nav-toggle.dark i {
    position: relative;
    color: #171717;
    background: #171717;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.winta-nav-toggle.dark i::before,
.winta-nav-toggle.dark i::after {
    background: #171717;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.winta-nav-toggle i::before {
    top: -7px;
}
.winta-nav-toggle i::after {
    bottom: -7px;
}
.winta-nav-toggle:hover i::before {
    top: -10px;
}
.winta-nav-toggle:hover i::after {
    bottom: -10px;
}
.winta-nav-toggle.active i {
    background: transparent;
}
.winta-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.winta-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.winta-nav-toggle {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 11px 14px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #991b1f;
    margin: 15px 30px;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    #winta-main-menu {
        margin-bottom: 60px;
    }
    .winta-nav-toggle {
        opacity: 1;
        visibility: visible;
    }
}


/* ======= Header ======= */
.header {
    min-height: 100vh;
    overflow: hidden;
}
.header .caption .o-hidden {
    display: inline-block;
}
.header .caption h2 {
    font-weight: 400;
    font-size: 30px;
}
.header .caption h4 {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.header .caption h1 {
    position: relative;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 90px;
    word-spacing: 5px;
    line-height: 1.2em;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    color: #fff;
}
.header .caption p {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.header .caption p span {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;
}
.header .caption p span:last-child {
    padding: 0;
}
.header .caption p span:last-child:after {
    display: none;
}
.header .caption p span:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: .5;
}
.header .caption .butn {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.header .social a {
    color: #eee;
    font-size: 15px;
    margin: 10px 15px;
}


/* ======= Slider ======= */
.slider .owl-item,
.slider-fade .owl-item {
    height: 100vh;
    position: relative;
}
.slider .item,
.slider-fade .item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.slider .item .caption,
.slider-fade .item .caption {
    z-index: 9;
}
.slider .owl-theme .owl-dots,
.slider-fade .owl-theme .owl-dots {
    position: absolute;
    bottom: 5vh;
    width: 100%;
}
/* owl-nav next and prev */
.slider-fade .owl-nav {
    position: absolute;
    bottom: 5%;
    right: 12%;
}
.slider-fade .owl-prev {
    float: left;
}
.slider-fade .owl-next {
    float: right;
}
.slider-fade .owl-theme .owl-nav [class*=owl-] {
    background-color: transparent;
    border: 1px solid #991b1f;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 0%;
    float: left;
    font-size: 10px;
    border-radius: 50%;
}
.slider-fade .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #991b1f;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .slider-fade .owl-nav {
        display: none;
    }
}


/* ======= Page Banner Header ======= */
.banner-header {
    height: 55vh;
    z-index: 0;
}
.banner-header h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.banner-header h6 a:hover {
    color: #000;
}
.banner-header h6 i {
    margin: 0 15px;
    font-size: 10px;
}
.banner-header h5 {
    color: #fff;
    font-size: 25px;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.banner-header h1 {
    font-size: 50px;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    color: #991b1f;
    position: relative;
    margin-bottom: 10px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.banner-header p {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.banner-header p a {
    color: #991b1f;
}
@media screen and (max-width: 767px) {
    .banner-header {
        height: 50vh;
        margin-top: 0px;
    }
    .banner-header h6 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .banner-header h6 a:hover {
        color: #101010;
    }
    .banner-header h6 i {
        margin: 0 15px;
        font-size: 10px;
    }
    .banner-header h5 {
        line-height: 1em;
    }
    .banner-header h1 {}
    .banner-header p {
        font-size: 15px;
        color: #fff;
    }
}


/* ======= About style ======= */
.about {
    position: relative;
}
.about .frame-img {
    overflow: hidden;
    position: relative;
}
.about .frame-img .img,
.about .frame-img img {
    overflow: hidden;
    position: relative;
     -webkit-transition: all .8s;
    transition: all .8s;
}
.about .frame-img:hover .img {
    -webkit-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97);
}
.about .frame-img .img .since {
    position: absolute;
    right: 70px;
    top: 70px;
}
.about .frame-img .img .since span {
    display: block;
    color: #991b1f;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.about .frame-img .img .since span:first-of-type {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}
.about .frame-img .img .years {
    position: absolute;
    left: 70px;
    bottom: 70px;
}
.about .frame-img .img .years h2 {
    font-size: 140px;
    font-weight: 800;
    background: url(../img/exp.jpg) no-repeat;
    background-position: 18% 65%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}
.about .frame-img .img .years h5 {
    color: #991b1f;
    letter-spacing: 5px;
    font-size: 20px;
}
.about .about-frame .pattern {
    height: 100%;
    width: 100%;
}
.about .about-frame .years-about-frame {
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid #303030;
}
.about .about-frame .years-about-frame .about-frame-text {
    position: absolute;
    bottom: 40px;
    left: -10px;
    padding: 10px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #1b1b1b;
}
.about .about-frame .years-about-frame .about-frame-text h2 {
    font-size: 70px;
    line-height: 1;
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #991b1f;
}
.about .about-frame .years-about-frame .about-frame-text h2:after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #303030;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: -1;
}
.about .about-frame .years-about-frame .about-frame-text h6 {
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    color: #fff;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
.about .about-frame:after {
    right: 0; 
    }
.about .frame-img .img {
    width: 100%; 
}
.about .about-frame ul {
    display: block; 
}
.about .about-frame ul li {
    margin-top: 10px;
    display: inline-block; 
}
.about .about-frame .years-about-frame {
    height: 300px;
    margin-top: 20px; }
}


/* ======= Team style ======= */
.team .item {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.team .item .team-img {
    overflow: hidden;
    position: relative;
}
.team .item .team-img:hover .img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.team .item .team-img .img {
    -webkit-transition: all .4s;
    transition: all .4s;
}
.team .item .infos {
    text-align: center;
    padding-top: 30px;
    background-color: transparent;
}
.team .item .infos h6 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px;
    text-transform: none;
}
.team .item .infos span {
    color: #991b1f;
    margin-bottom: 0px;
}


/* ======= Menu List style ======= */
.menus .owl-carousel .owl-stage-outer {
    padding: 10px 0 0;
}
.menus .tabs-icon .item {
    padding: 10px;
    cursor: pointer;
}
.menus .tabs-icon .item .icon {
    padding: 10px;
    color: rgba(255,255,255,0.8);
    font-size: 40px;
}
.menus .tabs-icon .item h6 {
    font-size: 27px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 0;
}
.menus .tabs-icon .owl-item.actived .item,
.menus .tabs-icon .item.active {
    color: #fff;
    position: relative;
    padding: 10px;
}
.menus .tabs-icon .owl-item.actived .item .icon,
.menus .tabs-icon .item.active .icon {
    color: #991b1f;
}
.menus .menus-content .cont {
    display: none;
}
.menus .menus-content .cont .menus-info {
    text-align: right;
}
.menus .menus-content .cont h5 {
    font-size: 24px;
    color: #991b1f;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px dashed rgba(255,255,255, 0.1);
    line-height: 2em;
    letter-spacing: 1px;
}
.menus .menus-content .cont h5 .price {
    color: #991b1f;
    float: right;
}
.menus .menus-content .active {
    display: block;
}
/* menu owl-theme */
.menus .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 15px;
    display: inline-block;
}
.menus .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 2px;
    margin: 0 2px 0 0;
    border-radius: 0;
    background: rgba(200, 200, 200, 0.4);
}
.menus .owl-theme .owl-dots .owl-dot.active span,
.menus .owl-theme .owl-dots .owl-dot:hover span {
    background: #991b1f;
}
.menus .owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 40%;
    background: transparent;
    color: #991b1f;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #991b1f;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.menus .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #991b1f;
}
.menus .bg-img .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
}
.menus .owl-carousel .owl-nav .owl-next {
    right: 0;
}
.menus .owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.menus .owl-carousel .owl-nav .owl-next span,
.menus .owl-carousel .owl-nav .owl-prev span {
    font-size: 16px;
    line-height: 1em;
}
.menus .owl-theme:hover .owl-nav [class*=owl-] {
    opacity: 1;
}
.menus .owl-theme .owl-nav [class*=owl-] {
    top: 35%;
    font-size: 17px;
}
.menus .owl-carousel .owl-nav .owl-next {
    right: -50px;
}
.menus .owl-carousel .owl-nav .owl-prev {
    left: -50px;
}
.menus .owl-carousel .owl-nav .owl-prev {
    left: -60px;
}
.menus .owl-carousel .owl-nav .owl-next {
    right: -60px;
}
.menus .menus-content .cont .menus-info {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .menus .owl-theme .owl-nav [class*=owl-] {
    display: none;
}
}
    
/* menupage price */
.menupage-price {}
.menupage-price-info {}
.menupage-price-info .title {
    font-family: 'Pirata One', cursive;
    font-size: 24px;
    color: #991b1f;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
    line-height: 2em;
}
.menupage-price-info .title .price {
    color: #991b1f;
    float: right;
}


/* =======  Today Menu Style ======= */
.menu-today-container {
    position: relative;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 0;
    background: #1b1b1b;
    border-bottom: 1px solid transparent;
    transition: .2s;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}
.menu-today-container .menu-today-heading {
    font-size: 27px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
}
.menu-today-container:hover {
    z-index: 100;
    border-bottom: 1px solid #991b1f;
}
.menu-today-text-area p {
    font-family: inherit !important;
    opacity: 0;
    color: rgba(255,255,255,0.8);
    margin-bottom: -35px
}
.menu-today-container:hover .menu-today-text-area p {
    opacity: 1
}
.menu-today-text-area ul {
    font-family: inherit !important;
    opacity: 0;
    color: rgba(255,255,255,0.8);
    margin-bottom: -45px;
    line-height: 1.5em;
}
.menu-today-container:hover .menu-today-text-area ul {
    opacity: 1
}
.menu-today-img-area,
.menu-today-text-area {
    display: inline-block;
    vertical-align: bottom;
    transition: transform .2s ease-in-out
}
.menu-today-img-area {
    font-size: 50px;
    color: #991b1f;
    margin-bottom: 15px;
    margin-right: 0;
    float: left;
    width: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    line-height: 1em;
}
.menu-today-container:hover .menu-today-text-area,
.menu-today-container:hover .menu-today-img-area {
    -webkit-transform: translate3d(0, -67px, 0);
    transform: translate3d(0, -67px, 0)
}
.menu-today-container:hover .menu-today-img-area {
    opacity: 0
}
.menu-today-container .menu-today-img-area img {
    margin-bottom: 5px;
    max-height: 60px;
    width: auto
}


/* =======  Testimonials  ======= */
.testimonials .client-area {
    margin-bottom: 15px;
}
.testimonials .client-area .img {
    display: inline-block;
    position: relative;
}
.testimonials .client-area .img .icon {
    width: 50px;
    position: absolute;
    top: 70px;
}
.testimonials .client-area .img .icon:first-of-type {
    left: -70px;
}
.testimonials .client-area .img .icon:last-of-type {
    right: -70px;
}
.testimonials .client-area .author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}
.testimonials .client-area h6 {
    color: #991b1f;
    font-size: 36px;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 0;
    word-spacing: 3px;
}
.testimonials .client-area span {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
}
.testimonials p {
    margin-bottom: 15px;
    font-size: 17px;
}


/* ======= Gallery style ======= */
.gallery-item {
    position: relative;
    padding-top: 20px;
}
.gallery-box {
    overflow: hidden;
    position: relative;
}
.gallery-box .gallery-img {
    position: relative;
    overflow: hidden;
}
.gallery-box .gallery-img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.gallery-box .gallery-img > img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}
.gallery-box .gallery-detail {
    opacity: 0;
    color: #FFF;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.gallery-box .gallery-detail h4 {
    font-size: 18px;
}
.gallery-box .gallery-detail p {
    color: Rgba(0, 0, 0, 0.4);
    font-size: 14px;
}
.gallery-box .gallery-detail i {
    color: #101010;
    padding: 8px;
}
.gallery-box .gallery-detail i:hover {
    color: #101010;
}
.gallery-box:hover .gallery-detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}
.gallery-box:hover .gallery-img:after {
    background: rgba(0,0,0, 0.4);
}
.gallery-box:hover .gallery-img > img {
    transform: scale(1.05);
}
/* magnific popup custom */
.mfp-figure button {
    border: 0px solid transparent;
}
button.mfp-close,
button.mfp-arrow {
    border: 0px solid transparent;
    background: transparent;
}

/* ======= Promo video and Opening Hours style ======= */
.work-time .item {
    text-align: center;
    margin: 0 15px;
}
.work-time .item p {
    font-size: 22px;
    font-weight: 300;
}
/* play button */
.play-button {
  position: relative;
  width: 85px;
  height: 85px;
  margin: auto;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 4; }
.play-button svg {
  position: absolute;
  width: 100%;
  height: 100%; }
.circle-fill circle {
  opacity: 1;
  fill: rgba(153, 27, 31, 0.5); }
.polygon {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 95px;
  font-size: 35px;
  z-index: 2; }
.play-button svg.circle-fill {
  z-index: 1;
  stroke-dasharray: 322;
  stroke-dashoffset: 322;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.play-button:hover svg.circle-fill {
  stroke-dashoffset: 38.5; 
}
.play-button svg.circle-track {
  z-index: 0; 
}
.play-button.color {
  color: #991b1f; 
}
.play-button.color .circle-fill circle {
    fill: rgba(153, 27, 31, 0.2); 
}
/* video-opening-hours-section*/
.video-opening-hours-section .opening-hours-box {
    position: relative;
    background: #101010;
    padding: 80px 40px;
    margin-bottom: -120px;
    text-align: center;
}
.video-opening-hours-section .opening-hours-box .head-box h6 {
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-family: 'Mukta', sans-serif;
}
.video-opening-hours-section .opening-hours-box .head-box h4 {
    color: #991b1f;
    margin-bottom: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 45px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #670c0e;
}
.video-opening-hours-section .opening-hours-box .head-box h4 span {
    color: #fff;
}
.video-opening-hours-section .opening-hours-box .item .info .cont {
    vertical-align: middle;
    margin-bottom: 15px;
}
.video-opening-hours-section .opening-hours-box .item .info .cont .day {
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Mukta', sans-serif;
}
.video-opening-hours-section .opening-hours-box .item .info .cont .time {
        color: #991b1f;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Pirata One', cursive;
}

@media screen and (max-width: 991px) {
.video-opening-hours-section .opening-hours-box {
    margin-bottom: 90px; 
}
}

/* =======  Blog & News Home  ======= */
.newshome .item {
    margin-bottom: 30px;
}
.newshome .item .post-img {
    overflow: hidden;
    position: relative;
}
.newshome .item .post-img:hover .img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.newshome .item .post-img .img {
    -webkit-transition: all .4s;
    transition: all .4s;
}
.newshome .item .cont {
    padding: 30px 0;
}
.newshome .item .cont h6 {
    font-size: 27px;
    margin-bottom: 15px;
    color: #fff;
}
.newshome .item .cont h6:hover {
    color: #991b1f;
}
.newshome .item .info a {
    margin-right: 0px;
    font-size: 15px;
}
.newshome .item .info a:last-child {
    margin-right: 0;
}
.newshome .item .info b {
    color: #991b1f;
    font-weight: 400;
}
.newshome .item .more {
        font-size: 21px;
    font-weight: 400;
    color: #991b1f;
    font-family: 'Pirata One', cursive;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}
.newshome .item .more:hover i {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.newshome .item .more i {
    font-size: 10px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}


/* ======= Blog style ======= */
.blog-entry {
    width: 100%;
    float: left;
    background: #1b1b1b;
    margin-bottom: 30px;
}
.blog-entry .desc {
    padding: 20px 0;
}
@media screen and (max-width: 768px) {
    .blog-entry {
        margin-bottom: 45px;
    }
}
.blog-entry .blog-img {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.blog-entry .blog-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.blog-entry .desc h3 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5em;
    font-weight: 400;
}
.blog-entry .desc h3 a {
    color: #991b1f;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    line-height: 1.5em;
}
.blog-entry .desc h3 a:hover {
    color: #fff;
}
.blog-entry .desc span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(255,255,255,0.8) !important;
}
.blog-entry .desc span small i {
    color: rgba(255,255,255,0.8);
}
.blog-entry .desc .lead {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    font-family: 'Mukta', sans-serif;
}
.blog-entry .desc .lead:hover {
    color: #fff;
}
.blog-entry:hover .blog-img img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/* Pagination */
.winta-pagination-wrap {
    padding: 0;
    margin: 0;
    text-align: center;
}
.winta-pagination-wrap li {
    display: inline-block;
    margin: 0 5px;
}
.winta-pagination-wrap li a {
    background: transparent;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
}
.winta-pagination-wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
    background: #991b1f;
    color: #fff;
}
.winta-pagination-wrap li a.active {
    background-color: #991b1f;
    border: 1px solid #991b1f;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .winta-pagination-wrap {
        padding: 0 0 60px 0;
        margin: 0;
        text-align: center;
    }
}
/* Sidebar */
.winta-sidebar-part {
    padding: 60px 30px 30px 30px;
    background: #101010;
}
.winta-sidebar-block {
    margin-bottom: 60px;
    position: relative;
}
.winta-sidebar-block .winta-sidebar-block-title {
    color: #991b1f;
    text-decoration: none;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 30px;
    
}
.winta-sidebar-block .winta-sidebar-block-title span {
    color: #fff;
}
/* Sidebar Search */
.winta-sidebar-search-form {
    position: relative;
}
.winta-sidebar-search-submit {
    position: absolute;
    right: 0px;
    top: -3px;
    background: none;
    border: 0;
    padding: 16px;
    font-size: 17px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    background: #991b1f;
    border-radius: 0;
}
/* Blog Categories */
.ul1 {
    padding: 0;
    margin: 0;
    list-style: none;
}
.ul1 > li {
    padding: 15px 0;
    border-bottom: 1px dashed rgba(255,255,255,0.05);
}
.ul1 > li:last-child {
    border-bottom: 0px dashed rgba(255,255,255,0.1);
}
.ul1 > li a {
    font-family: 'Pirata One', cursive;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.ul1 > li a:hover {
    color: #991b1f;
    text-decoration: none;
}
.ul1 > li a.active {
    color: #991b1f;
    text-decoration: none;
}
/* Blog Latest Posts */
.latest {
    margin-bottom: 10px;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
    padding-bottom: 10px;
}
.latest a {
    display: block;
    text-decoration: none;
}
.latest a .txt1 {
    line-height: 1.75em;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.latest a .txt2 {
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.latest a:hover .txt1 {
    color: #991b1f;
}
/* Blog Tags, Keywords */
.tags {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.tags li {
    display: inline-block;
    margin: 0 10px 10px 0px;
    float: left;
}
.tags li a {
    display: inline-block;
    background: #991b1f;
    border: 1px solid #991b1f;
    padding: 7px 17px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.tags li a:hover {
    background: #1b1b1b;
    color: #fff;
    border-color: #1b1b1b;
}


/* ======= Post style ======= */
.winta-post-section {
    padding-top: 120px;
}
.winta-comment-section {}
.winta-post-caption h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
.winta-post-comment-wrap {
    display: flex;
    margin-bottom: 60px;
}
.winta-user-comment {
    margin-right: 30px;
    flex: 0 0 auto;
}
.winta-user-comment img {
    border-radius: 100%;
    width: 100px;
}
.winta-user-content {
    margin-right: 26px;
}
.winta-user-content h3 {
    font-size: 21px;
    line-height: 1.75em;
    color: #991b1f;
    margin: 0 0 15px;
}
.winta-user-content h3 span {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    line-height: 1.75em;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
    margin-left: 15px;
}
.winta-repay {
    font-size: 15px;
    line-height: 1.75em;
    color: #991b1f !important;
    margin: 0;
    font-weight: 400;
}


/* ======= Contact style ======= */
#contactMap {
    width: 100%;
    height: 550px;
}
.winta-more-contact {
    background: #fafafa;
}
.winta-contact-info2 {
    padding: 10px 0px;
}
.winta-contact-info2 .feat-inner2 {
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.winta-contact-info2 .feat-inner2:last-child {
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}
.winta-contact-info2 .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    position: relative;
    z-index: 3;
    float: left;
    color: #991b1f;
}
.winta-contact-info2 .feat-info2 {
    overflow: hidden;
}
.winta-contact-info2 h5 {
    font-size: 21px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Pirata One', cursive;
    color: #fff;
}
.winta-contact-info2 h6 {
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: 'Mukta', sans-serif;
}


/* ======= Buttons ======= */
.butn {
    font-family: 'Pirata One', cursive;
    font-size: 25px;
    font-weight: 400;
    padding: 12px 24px;
    background: transparent;
    position: relative;
    z-index: 3;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
    border: none;
    border: 1px solid #991b1f;
}
.butn span {
    position: relative;
    z-index: 2;
    color: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.butn:before,
.butn:after {
    content: '';
    width: 0;
    height: 100%;
    background: #991b1f;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: .4;
}
.butn:after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background: #991b1f;
    opacity: 1;
}
.butn:hover:before,
.butn:hover:after {
    width: 100%;
}
.butn:hover:after {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.butn:hover span {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    color: #fff;
}
.butn-dark {
    border: 1px solid #991b1f;
    background: #991b1f;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}
.butn-dark:hover {
    border: 1px solid #991b1f;
    background: transparent;
}
.butn-dark:before,
.butn-dark:after {
    background: #991b1f;
}
.butn-dark:hover span {
    color: #fff;
}
.butn-dark span {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
}


/* ======= Progress scroll totop button ======= */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
.progress-wrap::after {
  position: absolute;
  font-family: 'themify';
  content: '\e648';
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: #991b1f;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }
.progress-wrap svg path {
  fill: none; 
}
.progress-wrap svg.progress-circle path {
  stroke: #991b1f;
  stroke-width: 3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear; }


/* ======= Footer ======= */
.main-footer {
    padding: 100px 0 0;
}
.main-footer.dark {
    background: #101010;
    color: #fff;
}
.main-footer .abot p {
    font-size: 15px;
}

.main-footer .usful-links ul {
    margin: 0;
}
.main-footer .usful-links ul li {
    font-size: 15px;
    margin-bottom: 5px;
}
.main-footer .usful-links ul li:hover {
    color: #fff;
}
.main-footer .usful-links ul li i {
    font-size: 7px;
    color: #fff;
    margin-right: 5px;
}
.main-footer .fothead h6 {
    color: #991b1f;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Pirata One', cursive;
    letter-spacing: 1px;
}
.main-footer .fotcont .fothead h6 {
    position: relative;
    padding-bottom: 5px;
}
.main-footer .fotcont .fothead h6:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border: none;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
}
.main-footer .fotcont p {
    font-size: 15px;
    font-family: 'Mukta', sans-serif;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0px;
}
.main-footer .sub-footer {
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
}
.main-footer .sub-footer p {
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
.main-footer .sub-footer p.right {
    text-align: right;
}

/* ======= Cursor Style ======= */
body {
  cursor: none; 
}
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden; }
.cursor-inner {
  margin-left: 2px;
  margin-top: 2px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: #fff;
  -webkit-transition: width .3s ease-in-out,
 height .3s ease-in-out,
 margin .3s ease-in-out,
 opacity .3s ease-in-out;
  -o-transition: width .3s ease-in-out,
 height .3s ease-in-out,
 margin .3s ease-in-out,
 opacity .3s ease-in-out;
  transition: width .3s ease-in-out,
 height .3s ease-in-out,
 margin .3s ease-in-out,
 opacity .3s ease-in-out; }
.cursor-inner.cursor-hover {
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-color: #991b1f;
  opacity: .3; }
.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 40px;
  height: 40px;
  border: 1px solid #991b1f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: .9;
  -webkit-transition: all .08s ease-out;
  -o-transition: all .08s ease-out;
  transition: all .08s ease-out; }
.cursor-outer.cursor-hover {
    opacity: 0; 
}


/* ======= Responsive ======= */
@media screen and (max-width: 991px) {
    
    
    .main-footer .sub-footer p.right {
    text-align: left;
    }
    .mb-md0 {
        margin-bottom: 0;
    }
    .md-text-center {
        text-align: center !important;
    }
    .bg-fixed {
        background-attachment: scroll !important;
    }

    .header {
        background-attachment: scroll !important;
        background-position: 50% 0% !important;
    }
    .header .caption h4 {
        font-size: 30px;
    }
    .header .caption h1 {
        font-size: 45px;
        line-height: 1.2;
    }
    
    .bg-img-fixed {
        background-attachment: initial;
    }
}
@media screen and (max-width: 767px) {
    
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .line-one {
        display: none;
    }
    .hero .intro h3 {
        font-size: 28px;
    }
    .hero .intro h4 {
        font-size: 20px;
    }
    .header .caption h4 {
        font-size: 15px;
        color: #fff;
    }
    .header .caption h1 {
        font-size: 45px;
        margin: 5px 0;
    }
    .header .caption p {
        font-size: 15px;
    }
    .header .caption .butn {
        margin-top: 15px !important;
    }
    .portfolio .filtering span {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px) {
    .section-head h4 {
        font-size: 30px;
    }
    .text-left {
        text-align: center;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: center;
    }
}


