/* Core Owl Carousel CSS File */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Owl Carousel fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* Owl Carousel - Lazy Load Plugin */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* Custom Owl Carousel CSS */
.owl-controls {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  text-transform: uppercase;
}
.owl-controls .owl-nav div {
  color: #888;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Poppins', serif;
}
.owl-controls .owl-nav div:after {
  content: '';
  height: 1px;
  width: 50px;
  background: #888;
  top: 50%;
  margin-right: 6px;
  margin-top: 0px;
  position: absolute;
  z-index: 1;
}
.owl-controls .owl-nav div.owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 5%;
}
.owl-controls .owl-nav div.owl-prev:after {
  left: 50px;
}
.owl-controls .owl-nav div.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 5%;
}
.owl-controls .owl-nav div.owl-next:after {
  right: 50px;
}
.owl-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  z-index: 9999;
}
.owl-dots .owl-dot {
  display: inline-block;
}
.owl-dots .owl-dot span {
  display: inline-block;
  margin: 0 5px 0 0;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .3);
  width: 8px;
  height: 8px;
  float: left;
  border-radius: 50%;
}
.owl-dots .owl-dot span:hover r {
  background: rgba(0, 0, 0, .3);
}
.owl-dots .owl-dot.active span {
  background: #000;
  border-color: #000;
}